html body
{
  position    : relative;
  margin      : 0;
  padding     : 0;
  width       : 100%;
  font-family : 'Raleway', 'Libre Baskerville', sans-serif;
  font-size   : 12px;
  overflow-x  : hidden;
}

a
{
  color           : inherit;
  text-decoration : none;
}

a:hover, a:focus
{
  color           : inherit;
  text-decoration : none;
}

a:link:hover
{
  text-decoration : underline;
}

.header
{
  padding    : 0 calc(50% - 588px);
  background : #313233;
  color      : white;
  text-align : center;
}

@media (max-width : 997px)
{
  .header
  {
    display : none;
  }
}

.headerMenuLeft
{
  position : relative;
  float    : left;
  top      : 20px;
}

.headerMenuLeft:before
{
  content        : "▼";
  position       : absolute;
  left           : 40px;
  top            : 11px;
  color          : white;
  pointer-events : none;
}

.headerMenuRight
{
  position : relative;
  float    : right;
  top      : 23px;
}

.headerLogo
{
  padding-top    : 42px;
  padding-left : 110px;
  padding-bottom : 45px;
}

#headerSelect
{
  background         : #313233;
  background-size    : 10px;
  padding            : 10px 20px 10px 10px;
  transition         : border-color .1s ease-in-out, box-shadow .1s ease-in-out;
  border             : 1px solid #313233;
  border-radius      : 5px;
  -webkit-appearance : none;
}

#headerSelect:focus
{
  border     : 1px solid #999;
  box-shadow : 0 3px 5px 0 rgba(0, 0, 0, .2);
  outline    : none;
  color      : #AF9751;
}

.headerMenuLeftButton
{
  display     : inline;
  margin-left : 25px;
}

.headerMenuA
{
  color      : white;
  transition : color .1s ease-in-out;
}


.headerMenuA form
 {
  padding : 0;
  display     : inline;
   color      : white;
   transition : color .1s ease-in-out;
 }

.headerMenuA form button
{
  border : none;
  display     : inline;
  text-transform: uppercase;
  color      : white;
  background-color: #313233;
}

.headerMenuA form button:hover
{
text-decoration: underline;
  color: #AF9751;
}

.headerMenuA:hover
{
  color           : #AF9751;
  text-decoration : none;
}
.SearchDiv
{
  display: inline-flex;
  width  : 200px;
  height : 33px;
}

.headerSearchDiv
{
  float  : left;
}

.headerSearch
{
  background-color : #313233;
  border           : 2px solid #AF9751;
  border-radius    : 0;
  padding          : 6px 12px;
  width            : 100%;
  outline          : none;
}

.headerSearchAddOnBlack
{
  background : #AF9751 url(/runtime/image/headerSearchBlack.png) center/18px no-repeat;
  border     : 2px solid #AF9751;
  width      : 33px;
  height     : 33px;
  transition : background-image .1s ease-in-out, background-color .1s ease-in-out;
}

.headerSearchAddOnBlack:hover
{
  background : #313233 url(/runtime/image/headerSearchGold.png) center/18px no-repeat;
  outline    : none;
}

.headerSearchAddOnWhite
{
  background : #AF9751 url(/runtime/image/headerSearchWhite.png) center/18px no-repeat;
  border     : 2px solid #AF9751;
  width      : 33px;
  height     : 33px;
  transition : background-image .1s ease-in-out, background-color .1s ease-in-out;
}

.headerSearchAddOnWhite:hover
{
  background : #313233 url(/runtime/image/headerSearchGold.png) center/18px no-repeat;
  outline    : none;
}

.headerCartDiv
{
  position     : relative;
  float        : left;
  margin-left  : 18px;
  padding-left : 18px;
  border-left  : 2px solid #38393A;
  height       : 33px;
  width        : 140px;
}

.headerCartImage
{
  position : absolute;
  top      : -8px;
  left     : 18px;
  width    : 35px;
}

.headerCartNumber
{
  display     : table;
  position    : absolute;
  color       : #AF9751;
  left        : 18px;
  bottom      : 0;
  top         : 0;
  margin      : auto 0;
  width       : 35px;
  font-family : 'Libre Baskerville', sans-serif;
  font-size   : 13px;
}

.headerCartText
{
  position : absolute;
  left     : 70px;
  top      : -3px;
  color    : #AF9751;
}

.headerCartPrice
{
  position : absolute;
  left     : 70px;
  top      : 18px;
  color    : white;
}

.headerCartHoverDiv
{
  position         : absolute;
  right            : 0;
  top              : 37px;
  padding          : 0;
  background-color : #313233;
  max-height       : 0;
  overflow         : hidden;
  z-index          : 2;
  transition       : all 1s ease;
}

.headerCartHoverList
{
  margin-bottom : 30px;
  max-height    : 282px;
  overflow-y    : scroll;
  overflow-x    : hidden;
}

.headerCartHoverList::-webkit-scrollbar-track
{
  background-color : #313233;
}

.headerCartHoverList::-webkit-scrollbar
{
  width            : 6px;
  background-color : #AF9751;
}

.headerCartHoverList::-webkit-scrollbar-thumb
{
  background-color : #AF9751;
}

.headerCartHoverListItem
{
  margin-bottom : 30px;
  width         : 204px;
  height        : 74px;
}

.headerCartHoverListItemImage
{
  margin-right : 10px;
  height       : 65px;
  float        : left;
}

.headerCartHoverListItemBigP
{
  margin-bottom : 0;
  text-align    : left;
  overflow      : hidden;
  white-space   : nowrap;
  text-overflow : ellipsis;
}

.headerCartHoverListItemLittleP
{
  margin-bottom : 0;
  font-size     : 10px;
  text-align    : left;
}

.headerCartHoverListItemA
{
  margin-right : 30px;
  color        : #848484;
  transition   : color .1s ease-in-out;
}

.headerCartHoverListItemA:hover
{
  color : #AF9751;
}

.headerCartHoverP
{
  margin-bottom : 30px;
  text-align    : left;
}

.headerCartHoverButton
{
  margin-right     : 15px;
  color            : #313233;
  background-color : #AF9751;
  border           : 0;
  width            : 96px;
  height           : 32px;
  outline          : none;
}

.cartCheckoutBtn
{
  float :left;
}

.headerNavBar
{
  position         : relative;
  display          : flex;
  justify-content  : space-between;
  top              : 0;
  margin           : 0;
  padding          : 0 calc(50% - 588px);
  background-color : white;
  color            : #313233;
  width            : 100%;
  text-align       : left;
  white-space      : nowrap;
  z-index          : 1;
}

@media (max-width : 997px)
{
  .headerNavBar
  {
    display : none;
  }
}

.sticky
{
  position : fixed;
  top      : 0;
}

.transit
{
  margin-bottom : 37px;
}

.headerNavBarA
{
  position         : relative;
  background-color : white;
  text-align : center;
  font-weight:bold;
  width            : calc(100% / 7);
  text-transform   : uppercase;
}

.headerNavBarA:hover .headerNavBarAdditionalA, .headerNavBarAdditionalA:hover
{
  max-height : 94px;
  padding    : 10px calc(50% - 33px);
}

.headerNavBarB
{
  position         : relative;
  background-color : white;
  text-align : center;
  font-weight:bold;
  width            : calc(100% / 7);
  text-transform   : uppercase;
}

.headerNavBarB:hover .headerNavBarAdditionalB, .headerNavBarAdditionalB:hover
{
  max-height : 111px;
  padding    : 10px calc(50% - 69px);
}

.headerNavBarC
{
  background-color : white;
  text-align : center;
  font-weight:bold;
  width            : calc(100% / 7);
  text-transform   : uppercase;
}

.headerNavBarC:hover .headerNavBarAdditionalC, .headerNavBarAdditionalC:hover
{
  max-height : 123px;
  padding    : 10px 0;
}

.headerNavBarD
{
  background-color : white;
  text-align : center;
  width            : calc(100% / 7);
  font-weight:bold;
  text-transform   : uppercase;
}

.headerNavBarD:hover .headerNavBarAdditionalD, .headerNavBarAdditionalD:hover
{
  max-height : 203px;
  padding    : 10px 0;
}

.headerNavBarE
{
  background-color : white;
  text-align : center;
  font-weight:bold;
  width            : calc(100% / 7);
  text-transform   : uppercase;
}

.headerNavBarE:hover .headerNavBarAdditionalE, .headerNavBarAdditionalE:hover
{
  max-height : 177px;
  padding    : 10px 0;
}

.headerNavBarF
{
  position         : relative;
  background-color : white;
  text-align : center;
  font-weight:bold;
  width            : calc(100% / 7);
  text-transform   : uppercase;
}

.headerNavBarF:hover .headerNavBarAdditionalF, .headerNavBarAdditionalF:hover
{
  display    : block;
  max-height : 111px;
  padding    : 10px calc(50% - 16px) 10px calc(50% - 16px);
}

.headerNavBarG
{
  position         : relative;
  background-color : white;
  text-align : center;
  font-weight:bold;
  width            : calc(100% / 7);
  text-transform   : uppercase;
}

.headerNavBarG:hover .headerNavBarAdditionalG, .headerNavBarAdditionalG:hover
{
  display    : block;
  max-height : 138px;
  padding    : 10px calc(50% - 30px) 10px calc(50% - 30px);
}

.headerNavBarTitle
{
  display         : block;
  position        : relative;
  padding         : 10px 0;
  width           : 100%;
  text-align      : center;
  text-decoration : none !important;
}

.headerNavBarA .headerNavBarTitle:before, .headerNavBarB .headerNavBarTitle:before,
.headerNavBarC .headerNavBarTitle:before, .headerNavBarD .headerNavBarTitle:before,
.headerNavBarE .headerNavBarTitle:before, .headerNavBarF .headerNavBarTitle:before,
.headerNavBarG .headerNavBarTitle:before
{
  content          : "";
  display          : block;
  position         : absolute;
  bottom           : -2px;
  right            : 50%;
  height           : 2px;
  width            : 0;
  background-color : #AF9751;
  transition       : width .2s ease-out 0s;
}

.headerNavBarA .headerNavBarTitle:after, .headerNavBarB .headerNavBarTitle:after,
.headerNavBarC .headerNavBarTitle:after, .headerNavBarD .headerNavBarTitle:after,
.headerNavBarE .headerNavBarTitle:after, .headerNavBarF .headerNavBarTitle:after,
.headerNavBarG .headerNavBarTitle:after
{
  content          : "";
  display          : block;
  position         : absolute;
  bottom           : -2px;
  left             : 50%;
  height           : 2px;
  width            : 0;
  background-color : #AF9751;
  transition       : width .2s ease-out 0s;
}

.headerNavBarA:hover .headerNavBarTitle:before, .headerNavBarB:hover .headerNavBarTitle:before,
.headerNavBarC:hover .headerNavBarTitle:before, .headerNavBarD:hover .headerNavBarTitle:before,
.headerNavBarE:hover .headerNavBarTitle:before, .headerNavBarF:hover .headerNavBarTitle:before,
.headerNavBarG:hover .headerNavBarTitle:before, .headerNavBarA:hover .headerNavBarTitle:after,
.headerNavBarB:hover .headerNavBarTitle:after, .headerNavBarC:hover .headerNavBarTitle:after,
.headerNavBarD:hover .headerNavBarTitle:after, .headerNavBarE:hover .headerNavBarTitle:after,
.headerNavBarF:hover .headerNavBarTitle:after, .headerNavBarG:hover .headerNavBarTitle:after
{
  width : 50%;
}

.headerNavBarAdditionalA
{
  position         : absolute;
  top              : 37px;
  left             : 0;
  padding          : 0 calc(50% - 33px);
  background-color : white;
  box-shadow       : 0 8px 15px rgba(0, 0, 0, 0.1);
  max-height       : 0;
  overflow         : hidden;
  white-space      : nowrap;
  text-transform   : uppercase;
  transition       : all .3s ease-in-out;
  z-index          : -1;
}

.headerNavBarAdditionalB
{
  position         : absolute;
  top              : 37px;
  left             : 0;
  padding          : 0 calc(50% - 69px);
  background-color : white;
  box-shadow       : 0 8px 15px rgba(0, 0, 0, 0.1);
  max-height       : 0;
  overflow         : hidden;
  white-space      : nowrap;
  text-transform   : uppercase;
  transition       : all .3s ease-in-out;
  z-index          : -1;
}

.headerNavBarAdditionalC
{
  display          : flex;
  justify-content  : center;
  position         : absolute;
  top              : 37px;
  left             : 0;
  right            : 0;
  padding          : 0;
  background-color : white;
  box-shadow       : 0 8px 15px rgba(0, 0, 0, 0.1);
  max-height       : 0;
  overflow         : hidden;
  white-space      : nowrap;
  text-transform   : uppercase;
  transition       : all .3s ease-in-out;
  z-index          : -1;
}

.headerNavBarAdditionalD
{
  display          : flex;
  justify-content  : center;
  position         : absolute;
  top              : 37px;
  left             : 0;
  right            : 0;
  padding          : 0;
  background-color : white;
  box-shadow       : 0 8px 15px rgba(0, 0, 0, 0.1);
  max-height       : 0;
  overflow         : hidden;
  white-space      : nowrap;
  text-transform   : uppercase;
  transition       : all .3s ease-in-out;
  z-index          : -1;
}

.headerNavBarAdditionalE
{
  display          : flex;
  justify-content  : center;
  position         : absolute;
  top              : 37px;
  left             : 0;
  right            : 0;
  padding          : 0;
  background-color : white;
  box-shadow       : 0 8px 15px rgba(0, 0, 0, 0.1);
  max-height       : 0;
  overflow         : hidden;
  white-space      : nowrap;
  text-transform   : uppercase;
  transition       : all .3s ease-in-out;
  z-index          : -1;
}

.headerNavBarAdditionalC div, .headerNavBarAdditionalD div, .headerNavBarAdditionalE div
{
  padding        : 0 10px;
  vertical-align : text-top;
}

.headerNavBarAdditionalC div:hover .headerNavBarCollectionTitle,
.headerNavBarAdditionalD div:hover .headerNavBarCollectionTitle,
.headerNavBarAdditionalE div:hover .headerNavBarCollectionTitle
{
  border-bottom : #AF9751 1px solid;
}

.headerNavBarAdditionalF
{
  position         : absolute;
  top              : 37px;
  left             : 0;
  padding          : 0 calc(50% - 16px);
  background-color : white;
  box-shadow       : 0 8px 15px rgba(0, 0, 0, 0.1);
  max-height       : 0;
  overflow         : hidden;
  white-space      : nowrap;
  text-transform   : uppercase;
  transition       : all .3s ease-in-out;
  z-index          : -1;
}

.headerNavBarAdditionalG
{
  position         : absolute;
  top              : 37px;
  left             : 0;
  padding          : 0 calc(50% - 30px);
  background-color : white;
  box-shadow       : 0 8px 15px rgba(0, 0, 0, 0.1);
  max-height       : 0;
  overflow         : hidden;
  white-space      : nowrap;
  text-transform   : uppercase;
  transition       : all .3s ease-in-out;
  z-index          : -1;
}

.headerNavBarCollectionTitle
{
  display        : block;
  padding-bottom : 10px;
  border-bottom  : #C0C2C2 1px solid;
  font-weight    : 600;
}

.headerNavBarCollection
{
  display : block;
}

.headerNavBarAdditionalA a, .headerNavBarAdditionalB a, .headerNavBarAdditionalC a, .headerNavBarAdditionalD a,
.headerNavBarAdditionalE a, .headerNavBarAdditionalF a, .headerNavBarAdditionalG a
{
  display : block;
  margin  : 10px 0;
}

.headerNavBarAdditionalA a:hover, .headerNavBarAdditionalB a:hover, .headerNavBarAdditionalC a:hover,
.headerNavBarAdditionalD a:hover, .headerNavBarAdditionalE a:hover, .headerNavBarAdditionalF a:hover,
.headerNavBarAdditionalG a:hover
{
  color : #AF9751;
}

.mobileHeader
{
  display : none;
}

@media (max-width : 997px)
{
  .mobileHeader
  {
    display : block;
  }
  
  .mobileMargin
  {
    height : 50px;
    width  : 100%;
  }
  
  .mobileHeaderBar
  {
    display    : flex;
    position   : fixed;
    height     : 50px;
    width      : 100%;
    background : #313233;
    z-index    : 99;
    transition : height .2s ease-in-out;
  }
  
  #mobileHeaderMenuButton,
  #mobileHeaderMenuButton span
  {
    display    : inline-block;
    transition : all .4s;
    box-sizing : border-box;
  }
  
  #mobileHeaderMenuButton
  {
    position : relative;
    margin   : 11px 5px 0 10px;
    width    : 25px;
    height   : 25px;
  }
  
  #mobileHeaderMenuButton span
  {
    position         : absolute;
    left             : 0;
    width            : 100%;
    height           : 3px;
    background-color : #AF9751;
    border-radius    : 4px;
  }
  
  #mobileHeaderMenuButton span:nth-of-type(1)
  {
    top : 0;
  }
  
  #mobileHeaderMenuButton span:nth-of-type(2)
  {
    top : 11px;
  }
  
  #mobileHeaderMenuButton span:nth-of-type(3)
  {
    bottom : 0;
  }
  
  #mobileHeaderMenuButton span:nth-of-type(2)::after
  {
    position         : absolute;
    top              : 0;
    left             : 0;
    content          : '';
    width            : 100%;
    height           : 3px;
    background-color : #AF9751;
    border-radius    : 4px;
    transition       : all .4s;
  }
  
  #mobileHeaderMenuButton.active span:nth-of-type(1)
  {
    transform : translate(50%) scale(0);
  }
  
  #mobileHeaderMenuButton.active span:nth-of-type(2)
  {
    -webkit-transform : rotate(45deg);
    transform         : rotate(45deg);
  }
  
  #mobileHeaderMenuButton.active span:nth-of-type(2)::after
  {
    -webkit-transform : rotate(90deg);
    transform         : rotate(90deg);
  }
  
  #mobileHeaderMenuButton.active span:nth-of-type(3)
  {
    transform : translate(-50%) scale(0);
  }
  
  .mobileHeaderIcon
  {
    display    : block;
    background : url(/runtime/image/headerLogo.png) center -50px/auto 220% no-repeat;
    width      : 200px;
    height     : 40px;
    margin     : 5px auto;
  }
  
  .mobileHeaderCart
  {
    position     : relative;
    margin-top   : 5px;
    margin-right : 10px;
    height       : 35px;
    width        : 30px;
    cursor       : pointer;
  }
  
  .mobileHeaderCart img
  {
    height : 35px;
    width  : 30px;
  }
  
  .mobileHeaderCart span
  {
    position    : absolute;
    top         : 13px;
    left        : 11px;
    color       : white;
    font-family : 'Libre Baskerville', sans-serif;
  }
  
  .mobileHeaderMainA
  {
    position   : fixed;
    margin-top : 49px;
    width      : 100%;
    height     : 0;
    background : #313233;
    z-index    : 99;
    overflow   : hidden;
    transition : height .2s ease-in-out;
  }
  
  .mobileHeaderMainA.active
  {
    height : calc(100vh - 45px);
  }
  
  .mobileHeaderLanguage
  {
    display         : flex;
    justify-content : space-around;
  }
  
  .mobileHeaderLanguage a
  {
    padding   : 10px;
    color     : white;
    font-size : 18px;
  }
  
  .mobileHeaderOption
  {
    padding-bottom : 200px;
    height         : 100%;
    color          : white;
    overflow-y     : scroll;
    overflow-x     : hidden;
  }
  
  .mobileHeaderOption::-webkit-scrollbar-track
  {
    background-color : #313233;
  }
  
  .mobileHeaderOption::-webkit-scrollbar
  {
    width            : 6px;
    background-color : #AF9751;
  }
  
  .mobileHeaderOption::-webkit-scrollbar-thumb
  {
    background-color : #AF9751;
  }
  
  .mobileHeaderOptionDiv
  {
    position       : relative;
    margin         : 0 10px;
    padding        : 10px 0;
    border-bottom  : 2px solid #38393A;
    height         : 43px;
    font-size      : 16px;
    text-transform : uppercase;
    overflow       : hidden;
  }
  
  .mobileHeaderOptionDiv.multiple > button, .mobileHeaderOptionAddOn.multiple > button
  {
    position    : absolute;
    top         : 15px;
    padding     : 0;
    right       : 15px;
    background  : inherit;
    border      : none;
    font-size   : 15px;
    line-height : 9px;
    color       : #AF9751;
    outline     : none;
    overflow    : hidden;
    transform   : rotate(90deg) scale(1, 2);
  }
  
  .mobileHeaderOptionDiv.multiple.active > button, .mobileHeaderOptionAddOn.multiple.active > button
  {
    transform : rotate(-90deg) scale(1, 2);
  }
  
  .mobileHeaderOptionDiv.multiple.active, .mobileHeaderOptionAddOn.multiple.active
  {
    height : auto;
  }
  
  .mobileHeaderOptionAddOn
  {
    position   : relative;
    margin-top : 10px;
    padding    : 10px 0 0 20px;
    height     : 33px;
    overflow   : hidden;
  }
  
  .mobileHeaderSearchDiv
  {
    position : relative;
    margin   : 0 10px;
    width    : calc(100% - 20px);
  }
  
  .mobileHeaderSearch
  {
    background-color : #313233;
    border           : none;
    border-bottom    : 2px solid #AF9751;
    border-radius    : 0;
    padding          : 20px 12px 6px;
    width            : 100%;
    color            : white;
    outline          : none;
  }
  
  .mobileHeaderSearchAddOn
  {
    position   : absolute;
    top        : 12px;
    right      : 6px;
    background : url(/runtime/image/headerSearchWhite.png) center/18px no-repeat;
    border     : none;
    width      : 31px;
    height     : 31px;
    transition : background-image .1s ease-in-out, background-color .1s ease-in-out;
  }
  
  .mobileHeaderSearchAddOn:hover, .mobileHeaderSearchAddOn:active
  {
    background : url(/runtime/image/headerSearchGold.png) center/18px no-repeat;
  }
  
  .mobileHeaderMainB
  {
    position   : fixed;
    margin-top : 49px;
    width      : 100%;
    height     : 0;
    background : #313233;
    z-index    : 99;
    overflow   : hidden;
    transition : height .2s ease-in-out;
  }
  
  .mobileHeaderMainB.active
  {
    height : calc(100vh - 45px);
  }
  
  .mobileHeaderCartItem
  {
    padding    : 20px 10px 0;
    overflow-x : hidden;
  }
  
  .mobileHeaderCartItem img
  {
    float        : left;
    margin-right : 10px;
    height       : 100px;
  }
  
  .mobileHeaderCartItem p:nth-child(2)
  {
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
  }
  
  .mobileHeaderCartItem p:nth-child(5) a
  {
    margin-right   : 20px;
    color          : #848484;
    text-transform : uppercase;
    transition     : color .1s;
  }
  
  .mobileHeaderCartItem p:nth-child(5) a:hover
  {
    color : #AF9751;
  }
  
  .mobileHeaderCartButton
  {
    display         : flex;
    justify-content : space-around;
    margin-top      : 50px;
  }
  
  .mobileHeaderCartButton button
  {
    height         : 32px;
    width          : 35%;
    border         : none;
    background     : #AF9751;
    color          : #313233;
    text-transform : uppercase;
  }
}

#headerModal1
{
  justify-content : center;
  align-items     : center;
}

.modal-dialog.headerTag
{
  width     : 80%;
  max-width : 800px;
}

@media (max-width : 768px)
{
  .modal-dialog.headerTag
  {
    margin : 100px auto 0;
  }
}

.modal-content.headerTag
{
  position      : relative;
  border-radius : 0;
}

.modal-body.headerTag
{
  margin : 5px;
  border : #AF9751 2px solid;
}

.modal-body.headerTag img
{
  display   : block;
  margin    : 50px auto;
  width     : 60%;
  max-width : 259px;
}

.modal-body.headerTag p
{
  margin     : 0 auto 20px;
  width      : 80%;
  max-width  : 250px;
  color      : black;
  text-align : center;
}

.headerModalInputDiv
{
  margin    : 0 auto 10px;
  width     : 80%;
  max-width : 250px;
  height    : 33px;
}

.headerModalInput
{
  background-color : inherit;
  border           : 2px solid #AF9751;
  border-radius    : 0;
  padding          : 6px 12px;
  width            : 100%;
  outline          : none;
}

.headerModalInputAddOnBlack
{
  position   : absolute;
  right      : 0;
  background : #AF9751 url(/runtime/image/footerArrowBlack.png) center/10px no-repeat;
  border     : 2px solid #AF9751;
  width      : 33px;
  height     : 33px;
  transition : background-image .1s ease-in-out, background-color .1s ease-in-out;
}

.headerModalInputAddOnBlack:hover
{
  background : url(/runtime/image/footerArrowGold.png) center/10px no-repeat;
  outline    : none;
}

.headerModalInputAddOnWhite
{
  position   : absolute;
  right      : 0;
  background : #AF9751 url(/runtime/image/footerArrowWhite.png) center/10px no-repeat;
  border     : 2px solid #AF9751;
  width      : 33px;
  height     : 33px;
  transition : background-image .1s ease-in-out, background-color .1s ease-in-out;
}

.headerModalInputAddOnWhite:hover
{
  background : url(/runtime/image/footerArrowGold.png) center/10px no-repeat;
  outline    : none;
}

.headerModalClose
{
  position      : absolute;
  right         : 0;
  bottom        : 100%;
  padding       : 2px 8px;
  border        : none;
  border-radius : 0;
  background    : #AF9751;
  color         : white;
  font-size     : 15px;
}

.footer
{
  position   : relative;
  background : #313233;
  color      : white;
  z-index    : 99;
}

.footerList
{
  display         : flex;
  justify-content : space-between;
  padding         : 50px calc(50% - 588px)
}

@media (max-width : 997px)
{
  .footerList
  {
    display : none;
  }
}

.footerListDiv
{
  width : 22%;
}

.footerListTextB
{
  color       : #AF9751;
  font-size   : 16px;
  font-weight : 600;
}

.footerListText
{
  display     : block;
  margin      : 0;
  line-height : 24px;
}

.footerSearchDiv
{
  width  : 100%;
  height : 33px;
}

.fSearch{
  display: inline-flex;
  width:225px;
}

.footerSearch
{
  background-color : #313233;
  border           : 2px solid #AF9751;
  border-radius    : 0;
  padding          : 6px 12px;
  width            : 100%;
  outline          : none;
}

.footerSearchAddOnBlack
{
  background : #AF9751 url(/runtime/image/footerArrowBlack.png) center/10px no-repeat;
  border     : 2px solid #AF9751;
  width      : 33px;
  height     : 33px;
  transition : background-image .1s ease-in-out, background-color .1s ease-in-out;
}

.footerSearchAddOnBlack:hover
{
  background : #313233 url(/runtime/image/footerArrowGold.png) center/10px no-repeat;
  outline    : none;
}

.footerSearchAddOnWhite
{
  background : #AF9751 url(/runtime/image/footerArrowWhite.png) center/10px no-repeat;
  border     : 2px solid #AF9751;
  width      : 33px;
  height     : 33px;
  transition : background-image .1s ease-in-out, background-color .1s ease-in-out;
}

.footerSearchAddOnWhite:hover
{
  background : #313233 url(/runtime/image/footerArrowGold.png) center/10px no-repeat;
  outline    : none;
}

.footerMediaIconFacebook
{
  margin        : 10px 5px 0 0;
  background    : url(/runtime/image/footerMediaFacebook.png) center/25px no-repeat;
  border        : 0;
  border-radius : 25px;
  width         : 25px;
  height        : 25px;
  outline       : none;
  transition    : background .3s ease-in-out;
}

.footerMediaIconFacebook:hover
{
  background : url(/runtime/image/footerMediaFacebookHover.png) center/25px no-repeat;
}

.footerMediaIconInstagram
{
  margin        : 10px 5px 0 0;
  background    : url(/runtime/image/footerMediaInstagram.png) center/25px no-repeat;
  border        : 0;
  border-radius : 25px;
  width         : 25px;
  height        : 25px;
  outline       : none;
  transition    : background .3s ease-in-out;
}

.footerMediaIconInstagram:hover
{
  background : url(/runtime/image/footerMediaInstagramHover.png) center/25px no-repeat;
}

.footerMediaIconPinterest
{
  margin        : 10px 0 0 0;
  background    : url(/runtime/image/footerMediaPinterest.png) center/25px no-repeat;
  border        : 0;
  border-radius : 25px;
  width         : 25px;
  height        : 25px;
  outline       : none;
  transition    : background .3s ease-in-out;
}

.footerMediaIconPinterest:hover
{
  background : url(/runtime/image/footerMediaPinterestHover.png) center/25px no-repeat;
}

.mobileFooter
{
  display : none;
}

@media (max-width : 997px)
{
  .mobileFooter
  {
    display : block;
    padding : 20px 0;
  }
  
  .mobileFooterList
  {
    position       : relative;
    padding        : 10px 0;
    margin         : 0 10px;
    border-bottom  : 2px solid #38393A;
    height         : 40px;
    font-size      : 16px;
    text-transform : uppercase;
    overflow       : hidden;
  }
  
  .mobileFooterList.active
  {
    height : auto;
  }
  
  .mobileFooterList > button
  {
    position   : absolute;
    top        : 8px;
    right      : -4px;
    background : inherit;
    border     : none;
    font-size  : 15px;
    color      : #AF9751;
    outline    : none;
    transform  : rotate(90deg) scale(1, 2);
  }
  
  .mobileFooterList.active > button
  {
    transform : rotate(-90deg) scale(1, 2);
  }
  
  .mobileFooterListAddOn
  {
    display : block;
    padding : 20px 0 0 10px;
  }
  
  .mobileFooterNewsLetter
  {
    display        : flex;
    position       : relative;
    margin         : 0 10px;
    border-bottom  : 2px solid #38393A;
    height         : 40px;
    font-size      : 16px;
    text-transform : uppercase;
    overflow       : hidden;
  }
  
  .mobileFooterNewsLetter span
  {
    padding : 10px 0;
    width   : 50%;
  }

  .mobileFooterSearchDiv
  {
    width : 50%;
  }

  .mfSearch{
    display: inline-flex;
    max-width:415px;
    width : 100%;
  }

  .mobileFooterSearch
  {
    padding          : 6px 12px;
    background-color : #313233;
    border           : 2px solid #AF9751;
    border-radius    : 0;
    height           : 38px;
    width            : 100%;
    font-size        : 10px;
    outline          : none;
  }
  
  .mobileFooterSearchAddOn
  {
    background : #AF9751 url(/runtime/image/footerArrowWhite.png) center/10px no-repeat;
    border     : 2px solid #AF9751;
    width      : 40px;
    height     : 40px;
    transition : background-image .1s ease-in-out, background-color .1s ease-in-out;
  }
  
  .mobileFooterSearchAddOn:active, .mobileFooterSearchAddOn:hover
  {
    background : #AF9751 url(/runtime/image/footerArrowGold.png) center/10px no-repeat;
  }
  
  .mobileFooterSocialIcon
  {
    margin  : 0 10px;
    padding : 10px 0;
  }
  
  .mobileFooterSocialIcon button
  {
    margin-top : 0;
  }
}

.footerCopyright
{
  background  : #F2F2F2;
  color       : #AF9751;
  height      : 80px;
  text-align  : center;
  line-height : 81px;
}

.cartBtn
{
  border: none;
  padding:0;
  text-align: center;
  background-color: #313233;
  color: #AF9751;
}

.cartBtn:hover
{
  text-decoration: underline;
}

.cartMessage
{
  margin: auto;
  padding: 0 0 15px 0;
}